---
http_interactions:
- request:
    method: post
    uri: https://api.instoredoes.com/v1/api/orders/97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea/refund?access_token=9JkAmIetQcJg_ZJ-w-GEU9EphBg=pERJPFtga8b1ce5ca5a12dec17ef1fe9c2add4aa61ba85b5ea6f40beeebef19e4873e77c67d386830f31aed43c3d87b41110d6cc39f9be179e22ff4ec198b5516caa923256c12b96e4b7b5806e810c51a9061b0974465429844a21501c067030cb5dee2cdb653ebd918f0598f0112323bdf07d033e8a12e694349b2998753e330edec3dbbbc1c567e0bba2160b65a3ae47632569
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"data":{"id":"97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","user_id":"24826684-90d7-41ee-ba0c-4e989b4f88a4","credit_card_transaction_id":null,"open":null,"status":null,"sub_total":0,"sales_tax":0,"total":0,"void_refund_id":null,"void_refund_time":null,"state":"refund","order_no":null,"line_item_quantity":null,"different_line_item_quantity":null,"suggestions_quantity":null,"discount_amount":0,"discount_percent":0,"time_zone_stamp":null,"no_tax":false,"terminal_id":null,"bill_number":null,"total_without_gift_cards":0,"gift_cards_count":0,"net_price_pure":6,"net_price":6,"net_price_with_gift_card":6,"discount_global":0,"discount_item":0,"discount_total":0,"tax_item":0,"tax_global":0.3,"tax_total":0.3,"gross_price":6,"gross_price_with_gift_card":6,"gross_price_total":6.3,"gross_price_total_with_gift_card":6.3,"left_to_pay":0,"no_tax_reason":null,"takeout":null,"created_at":"2013-01-22T08:41:41.510Z","updated_at":"2013-01-24T09:11:59.936Z","order_lines":{"data":[{"id":"36915606-59a8-da7e-2535-95cc2bbbf0c4","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","order_id":"97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea","item_id":"57deb0d5-da5b-40c7-a5ed-3bfabc93f380","item_size_id":"424b9981-c10f-4d0c-a867-f9ea8fec0789","item_total":0,"quantity":1,"void_refund_id":null,"void_refund_time":null,"state":null,"discount_amount":0,"discount_percent":0,"tax":0,"tax_percent":5,"is_universal_tax":null,"no_tax":false,"net_price_pure":2,"net_price_single":2,"gross_price":2,"gross_price_total":2,"net_price_ingredients":0,"gross_price_ingredients":0,"discount_total":0,"discount_item":0,"discount_item_pure":0,"discount_item_ingredients":0,"discount_global":0,"discount_ingredients":0,"tax_individual":false,"tax_total":0.1,"tax_ingredients":0,"tax_item":0.1,"item_size_name":null,"item_name":null,"takeout":null,"created_at":"2013-01-22T14:58:25.875Z","updated_at":"2013-01-24T09:09:24.785Z","item_sales_tax":0,"item":{"id":"57deb0d5-da5b-40c7-a5ed-3bfabc93f380","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"Item
        2","position":2,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:37.932Z","updated_at":"2013-01-21T13:11:44.139Z"},"item_size":{"id":"424b9981-c10f-4d0c-a867-f9ea8fec0789","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_id":"57deb0d5-da5b-40c7-a5ed-3bfabc93f380","name":"One
        Size","active":true,"price":2,"position":0,"created_at":"2013-01-21T13:11:37.938Z","updated_at":"2013-01-22T14:00:19.103Z"},"applied_discounts":{"data":[],"count":0},"order_line_ingredients":{"data":[],"count":0},"order_line_taxes":{"data":[{"id":"413a5016-3637-7438-22e3-bf57a70f7153","location_id":null,"order_line_id":"36915606-59a8-da7e-2535-95cc2bbbf0c4","location_tax_id":null,"tax_rate":5,"created_at":"2013-01-24T09:09:24.772Z","updated_at":"2013-01-24T09:09:24.772Z","tax":0.1,"location_tax":{"data":null,"scope":"api","status":true,"code":"ok","message":""}}],"count":1}},{"id":"fda2d9f4-d57e-fb16-5827-97e12d9800df","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","order_id":"97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea","item_id":"57deb0d5-da5b-40c7-a5ed-3bfabc93f380","item_size_id":"424b9981-c10f-4d0c-a867-f9ea8fec0789","item_total":0,"quantity":1,"void_refund_id":null,"void_refund_time":null,"state":null,"discount_amount":0,"discount_percent":0,"tax":0,"tax_percent":5,"is_universal_tax":null,"no_tax":fals[...]
