---
http_interactions:
- request:
    method: get
    uri: https://api.instoredoes.com/v1/api/items?access_token=9JkAmIetQcJg_ZJ-w-GEU9EphBg=pERJPFtga8b1ce5ca5a12dec17ef1fe9c2add4aa61ba85b5ea6f40beeebef19e4873e77c67d386830f31aed43c3d87b41110d6cc39f9be179e22ff4ec198b5516caa923256c12b96e4b7b5806e810c51a9061b0974465429844a21501c067030cb5dee2cdb653ebd918f0598f0112323bdf07d033e8a12e694349b2998753e330edec3dbbbc1c567e0bba2160b65a3ae47632569
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"f105021b-330d-4f9b-bcf2-0d69a448392e","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"Item
        1","position":0,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:08.128Z","updated_at":"2013-01-21T13:11:17.024Z"},{"id":"4ba40e34-0ec3-4a1d-b050-cfe58ccfc815","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"New
        item","position":1,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:21.621Z","updated_at":"2013-01-21T13:11:21.621Z"},{"id":"57deb0d5-da5b-40c7-a5ed-3bfabc93f380","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"Item
        2","position":2,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:37.932Z","updated_at":"2013-01-21T13:11:44.139Z"},{"id":"a259f474-1dba-e53f-d88f-5925cdeb8085","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"a1e5103e-7f8a-4e5c-8075-507f485e06c1","name":"Test
        item 99!","position":null,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-22T09:52:24.870Z","updated_at":"2013-01-22T09:53:11.578Z"}],"count":4,"scope":"api","status":true,"code":"ok","message":"","paging":{"previous":null,"next":null}}'
  recorded_at: Fri, 25 Jan 2013 10:49:08 GMT
recorded_with: VCR 2.4.0
