---
http_interactions:
- request:
    method: get
    uri: https://api.instoredoes.com/v1/api/categories?access_token=xxxxxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"data":null,"code":"invalid_token","scope":"authentication","message":"TOKEN
        ERROR: DecipherFinal fail","status":false}'
  recorded_at: Fri, 08 Feb 2013 16:34:40 GMT
recorded_with: VCR 2.4.0
