---
http_interactions:
- request:
    method: get
    uri: https://api.instoredoes.com/v1/api/categories/17b530c0-fd28-4091-94b0-aab2417936ae?access_token=9JkAmIetQcJg_ZJ-w-GEU9EphBg=pERJPFtga8b1ce5ca5a12dec17ef1fe9c2add4aa61ba85b5ea6f40beeebef19e4873e77c67d386830f31aed43c3d87b41110d6cc39f9be179e22ff4ec198b5516caa923256c12b96e4b7b5806e810c51a9061b0974465429844a21501c067030cb5dee2cdb653ebd918f0598f0112323bdf07d033e8a12e694349b2998753e330edec3dbbbc1c567e0bba2160b65a3ae47632569
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"data":{"id":"17b530c0-fd28-4091-94b0-aab2417936ae","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","name":"Test
        99!","active":true,"position":0,"created_at":"2013-01-21T10:42:33.602Z","updated_at":"2013-01-21T11:02:54.402Z","items":{"data":[{"id":"f105021b-330d-4f9b-bcf2-0d69a448392e","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"Item
        1","position":0,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:08.128Z","updated_at":"2013-01-21T13:11:17.024Z","item_sizes":{"data":[{"id":"ec002c58-1aac-45cb-8e67-08e6dd89d122","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_id":"f105021b-330d-4f9b-bcf2-0d69a448392e","name":"One
        Size","active":true,"price":0,"position":0,"created_at":"2013-01-21T13:11:08.180Z","updated_at":"2013-01-21T13:11:08.180Z"}],"count":1},"item_ingredients":{"data":[{"id":"4954dfd6-3309-04ca-6a1d-4000165a2118","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_id":"f105021b-330d-4f9b-bcf2-0d69a448392e","active":true,"ingredient_id":"895cc2ea-19a7-a4ef-fb3a-b266f12dc9d0","ingredient":{"id":"895cc2ea-19a7-a4ef-fb3a-b266f12dc9d0","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","name":"Test
        ingredient!","active":true,"price":0,"created_at":"2013-01-21T15:06:20.743Z","updated_at":"2013-01-21T15:06:20.744Z"}}],"count":1},"special_qualities":{"data":[],"count":0}},{"id":"4ba40e34-0ec3-4a1d-b050-cfe58ccfc815","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_category_id":"17b530c0-fd28-4091-94b0-aab2417936ae","name":"New
        item","position":1,"description":null,"override_sales_tax":false,"sales_tax":0,"created_at":"2013-01-21T13:11:21.621Z","updated_at":"2013-01-21T13:11:21.621Z","item_sizes":{"data":[{"id":"35636b25-26a0-4b2d-8009-ed5d3faa4b00","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","item_id":"4ba40e34-0e[...]
