---
http_interactions:
- request:
    method: get
    uri: https://api.instoredoes.com/v1/api/payments?access_token=9JkAmIetQcJg_ZJ-w-GEU9EphBg=pERJPFtga8b1ce5ca5a12dec17ef1fe9c2add4aa61ba85b5ea6f40beeebef19e4873e77c67d386830f31aed43c3d87b41110d6cc39f9be179e22ff4ec198b5516caa923256c12b96e4b7b5806e810c51a9061b0974465429844a21501c067030cb5dee2cdb653ebd918f0598f0112323bdf07d033e8a12e694349b2998753e330edec3dbbbc1c567e0bba2160b65a3ae47632569
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"df25ac33-7cf0-332f-5a04-bda19ecd972f","order_id":"a30b292f-1feb-002d-9306-082699d83a21","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","tip_id":null,"order_line_id":null,"payment_type":"cash","amount":1,"bill":0,"change":0,"transaction_identifier":null,"status":null,"signature_image_data":null,"gift_card_new_balanc":0,"card_type":null,"card_masked_pan":null,"subtotal_amount":0,"tax_amount":0,"tip_amount":0,"created_at":"2013-01-24T09:12:55.290Z","updated_at":"2013-01-24T09:12:55.300Z"},{"id":"9e8dcbec-5233-12bf-22b7-55f9518d4206","order_id":"97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","tip_id":null,"order_line_id":null,"payment_type":"cash","amount":5.3,"bill":0,"change":0,"transaction_identifier":null,"status":null,"signature_image_data":null,"gift_card_new_balanc":0,"card_type":null,"card_masked_pan":null,"subtotal_amount":0,"tax_amount":0,"tip_amount":0,"created_at":"2013-01-24T09:09:24.709Z","updated_at":"2013-01-24T09:09:24.711Z"},{"id":"b26e58ca-c094-ae39-9f0d-2df3e4b92189","order_id":"97bdeb9b-d4bf-bddb-aa5a-6368d2b9f4ea","location_id":"1e36bfbc-d1a8-4cce-8073-add1c6a2f3d0","tip_id":null,"order_line_id":null,"payment_type":"cash","amount":1,"bill":0,"change":0,"transaction_identifier":null,"status":null,"signature_image_data":null,"gift_card_new_balanc":0,"card_type":null,"card_masked_pan":null,"subtotal_amount":0,"tax_amount":0,"tip_amount":0,"created_at":"2013-01-22T14:01:25.225Z","updated_at":"2013-01-22T14:01:25.226Z"}],"count":3,"scope":"api","status":true,"code":"ok","message":""}'
  recorded_at: Thu, 24 Jan 2013 10:43:41 GMT
recorded_with: VCR 2.4.0
